*{ margin:0;
   padding:0; 
   box-sizing:border-box; 
   font-family:'Poppins',sans-serif;
   line-height: 1.5; 
  }
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f7fc;
  color: #333;
  overflow-x:hidden;
  scroll-behavior:smooth; 
  transition:background .25s,color .25s;

}

header {
  background-color: #0a3d62;
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
}

h2 {
  color: #0a3d62;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 6px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #0a3d62;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #1e6091;
}

footer {
  text-align: center;
  padding: 15px;
  background: #0a3d62;
  color: white;
}
.about-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-pic{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0a3d62;
}
.text p{
margin: 6px 0;
}
section{
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.4s ease;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}
nav a {
  position: relative;
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  transition: color 0.3s ease;
}

/* underline animation */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #ffd32a;
  transition: width 0.3s ease;
}

nav a:hover {
  color: #7c7142;
}

nav a:hover::after {
  width: 100%;
}
html{
  scroll-behavior: smooth;
}
.container{
  max-width:1300px;
  margin: auto;
  padding: 0 15px;
}